# アンサンブル学習
複数の機械学習モデルを組み合わせる、「アンサンブル学習」にトライしましょう。  
予測結果で多数決を行い、Kaggleに提出して結果を確認しましょう。

## データの準備
異なる機械学習モデルによる予測結果を読み込みます。  
これらを1つのデータフレームにまとめ、予測結果の相関関係を計算します。  
一部、CSVファイル名の変更が必要です。

In [ ]:
import pandas as pd

subm_rf = pd.read_csv("submission_rf6.csv")  #  section_2/02_titanic_random_forest.ipynb
subm_automl = pd.read_csv("submission_automl.csv")  #  section_2/03_exercise.ipynb
subm_lgbm = pd.read_csv("submission_cv.csv")  # section_3/03_cross_validation.ipynb

ensemble_df = pd.DataFrame({"subm_rf": subm_rf["Perished"].values,
                            "subm_automl": subm_automl["Perished"].values,
                            "subm_lgbm": subm_lgbm["Perished"].values})
ensemble_df.head(9)

   subm_rf  subm_automl  subm_lgbm
0        1            1          1
1        1            1          0
2        1            1          1
3        1            1          1
4        0            0          1
5        1            1          0
6        0            1          0
7        1            1          1
8        0            0          0

In [ ]:
ensemble_df.corr()  # 各列の相関関係

              subm_rf  subm_automl  subm_lgbm
subm_rf      1.000000     0.795295   0.839096
subm_automl  0.795295     1.000000   0.737753
subm_lgbm    0.839096     0.737753   1.000000

## 多数決による生存/死亡の決定
複数の機械学習モデルによる予測結果で、多数決を行います。  
結果をCSVファイルに保存し、Kaggleに提出して結果を確認しましょう。

In [ ]:
subm_data = subm_rf.copy()  # PassengerIdを転用

# 多数決で生存/死亡を決定
subm_data["Perished"] = subm_rf["Perished"] + subm_automl["Perished"] + subm_lgbm["Perished"]
subm_data["Perished"] = (subm_data["Perished"]>=2).astype(int)

subm_data.to_csv("submission_ensemble_rf6_aut_cv.csv", index=False)
subm_data.head(9)

   PassengerId  Perished
0          892         1
1          893         1
2          894         1
3          895         1
4          896         0
5          897         1
6          898         0
7          899         1
8          900         0

g:0.800  
k:0.79186