<a href="https://colab.research.google.com/github/alicelindel3/ibm5100/blob/main/1115/week5_home.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Homework5
以下のサイトにあるデータ（ワインの品質）が分析対象です。

http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

上記データを読み込み、目的変数のカラム名を`Y_column`、説明変数のカラム名を`X_column`として、これらを関数の入力とする単回帰分析を実施し、**決定係数**を求めてください。ただし、変数の変換やデータ加工等はせず、そのままのデータを使ってください。

提出するときは、以下の点に注意してください。  

>- 以下の関数`homework`の`!!WRITE ME!!`に処理を書いてください。(**「`!!WRITE ME!!`」は消して、記入してください。**)
>- 実際の提出は記述された`homework`関数全てになり、**提出はOmnicampus内の宿題の欄から今週の課題を選択後、提出内容に関数を貼り付けてから[Pythonコード提出]を押してください。**
>- 返り値が数値型(1つ)になるようにしてください。  

例: `X_column = 'volatile acidity'`、`Y_column = 'quality'`のとき、決定係数は$0.1525\cdots$です。

In [ ]:
# common
import numpy as np
import pandas as pd
from sklearn import linear_model

# URL
path_winequality_data = "http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"

In [ ]:
# 線形回帰のインスタンスを生成
reg = linear_model.LinearRegression()

In [ ]:
d_wq = pd.read_csv(path_winequality_data,sep=';')
d_wq

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [ ]:
X= d_wq.loc[:, ['volatile acidity']].values

Y= d_wq['quality'].values

reg.fit(X, Y)

reg.score(X, Y)

0.1525353797247485

In [ ]:
# working place. everything 
def homework(path_winequality_data, X_column, Y_column):
    reg = linear_model.LinearRegression()
    d_wq = pd.read_csv(path_winequality_data,sep=';')
    X= d_wq.loc[:, [X_column]].values
    Y= d_wq[Y_column].values
    reg.fit(X, Y)
    my_result=reg.score(X, Y)
    return my_result

In [ ]:
homework(path_winequality_data,'volatile acidity','quality')

0.1525353797247485

**謝辞**：以下のデータセットの利用に関して  
http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

引用元：Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [[http://archive.ics.uci.edu/ml](http://archive.ics.uci.edu/ml)]. Irvine, CA: University of California, School of Information and Computer Science.

P. Cortez, A. Cerdeira, F. Almeida, T. Matos and J. Reis.
Modeling wine preferences by data mining from physicochemical properties. In Decision Support Systems, Elsevier, 47(4):547-553, 2009.