<a href="https://colab.research.google.com/github/alicelindel3/ibm5100/blob/main/1101/week3_home.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 問題文
以下のサイトにあるデータ（ワインの品質）が分析対象になります。

http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

このデータを読み込み、カラムの`total sulfur dioxide`について分位点でn個（nはデータ数を越えず、同一の値が分割位置に当たらない自然数）に分割し、それぞれのグループについてpHの平均値を算出してください。さらに、このn個のグループのそれぞれのpHの平均値の中で、1番小さい平均値と1番大きな平均値を足して、その合計値を返り値とするような関数を作成してください。

提出するときは、以下の点に注意してください。  
>- 以下の関数`homework`の`!!WRITE ME!!`に処理を書いてください。(**「`!!WRITE ME!!`」は消して、記入してください。**)
>- 実際の提出は記述された`homework`関数全てになり、**提出はOmnicampus内の宿題の欄から今週の課題を選択後、提出内容に関数を貼り付けてから[Pythonコード提出]を押してください。**
>- 返り値が数値型になるようにしてください。
>- 関数は1つにまとめてください。

In [1]:
# common
import numpy as np
import pandas as pd
from pandas import DataFrame
# URL
url_winequality_data = "http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv"

In [2]:
d_wq = pd.read_csv(url_winequality_data)
d_wq

     fixed acidity;"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality"
0      7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
1      7.8;0.88;0;2.6;0.098;25;67;0.9968;3.2;0.68;9.8;5
2     7.8;0.76;0.04;2.3;0.092;15;54;0.997;3.26;0.65;...
3     11.2;0.28;0.56;1.9;0.075;17;60;0.998;3.16;0.58...
4      7.4;0.7;0;1.9;0.076;11;34;0.9978;3.51;0.56;9.4;5
...                                                 ...
1594  6.2;0.6;0.08;2;0.09;32;44;0.9949;3.45;0.58;10.5;5
1595  5.9;0.55;0.1;2.2;0.062;39;51;0.99512;3.52;0.76...
1596  6.3;0.51;0.13;2.3;0.076;29;40;0.99574;3.42;0.7...
1597  5.9;0.645;0.12;2;0.075;32;44;0.99547;3.57;0.71...
1598  6;0.31;0.47;3.6;0.067;18;42;0.99549;3.39;0.66;...

[1599 rows x 1 columns]

In [3]:
d_wq = pd.read_csv(url_winequality_data,sep=';')
d_wq

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [4]:
d_wq = pd.read_csv(url_winequality_data,sep=';')
df_tsd = d_wq['total sulfur dioxide']
df_tsd

0       34.0
1       67.0
2       54.0
3       60.0
4       34.0
        ...
1594    44.0
1595    51.0
1596    40.0
1597    44.0
1598    42.0
Name: total sulfur dioxide, Length: 1599, dtype: float64

In [5]:
d_wq = pd.read_csv(url_winequality_data, sep=';')
df_tsd = d_wq['total sulfur dioxide']
sprt = pd.qcut(df_tsd, 10, labels = False)
sprt

0       4
1       7
2       6
3       7
4       4
       ..
1594    5
1595    6
1596    5
1597    5
1598    5
Name: total sulfur dioxide, Length: 1599, dtype: int64

In [6]:
d_wq = pd.read_csv(url_winequality_data, sep=';')
df_tsd = d_wq['total sulfur dioxide']
sprt = pd.qcut(df_tsd, 10, labels = False)
avr_pH =  d_wq.groupby(sprt)['pH'].mean()
avr_pH

total sulfur dioxide
0    3.325449
1    3.267237
2    3.283137
3    3.320190
4    3.347174
5    3.326045
6    3.331377
7    3.315260
8    3.328931
9    3.257812
Name: pH, dtype: float64

In [7]:
avr_pH.max()

3.3471739130434783

In [8]:
avr_pH.min()

3.2578125

In [9]:
sbm_pH = avr_pH.max() + avr_pH.min()
sbm_pH

6.604986413043479

In [10]:
# working place. everything 
def homework(url_winequality_data, n):
    d_wq = pd.read_csv(url_winequality_data, sep=';')
    df_tsd = d_wq['total sulfur dioxide']
    sprt = pd.qcut(df_tsd, n, labels = False)
    avr_pH =  d_wq.groupby(sprt)['pH'].mean()
    sbm_pH = avr_pH.max() + avr_pH.min()
    my_result = float(sbm_pH)
    return my_result

In [11]:
homework(url_winequality_data, 10)

6.604986413043479

**謝辞**：以下のデータセットの利用に関して  
http://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-red.csv

引用元：Dua, D. and Graff, C. (2019). UCI Machine Learning Repository [[http://archive.ics.uci.edu/ml](http://archive.ics.uci.edu/ml)]. Irvine, CA: University of California, School of Information and Computer Science.

P. Cortez, A. Cerdeira, F. Almeida, T. Matos and J. Reis.
Modeling wine preferences by data mining from physicochemical properties. In Decision Support Systems, Elsevier, 47(4):547-553, 2009.